// Styling for the download section
section.contact {
    padding-top: 0px!important;
    text-align: center;
    .section-heading {
        height: 240px;
        background-color: black;
        h2 {
            color: white;
            font-weight: lighter;
        }

        h3 {
            padding-top: 60px;
            font-weight: lighter;
            color: $orange-title
        }
    }

    .form {
        display: flex;
    }
    input {
        margin: 10px;
    }

    h2 {
        margin-top: 15px;
        color: white;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .form-part-1 {
        flex-direction: column!important;
        margin: 0 auto;
    }
    .form-part-2 {
        flex-direction: column!important;
        margin: 0 auto;
    }
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;
            }
            &.social-twitter {
                a {
                    background-color: $brand-twitter;
                    &:hover {
                        background-color: darken($brand-twitter, 5%);
                    }
                }
            }
            &.social-facebook {
                a {
                    background-color: $brand-facebook;
                    &:hover {
                        background-color: darken($brand-facebook, 5%);
                    }
                }
            }
            &.social-google-plus {
                a {
                    background-color: $brand-google-plus;
                    &:hover {
                        background-color: darken($brand-google-plus, 5%);
                    }
                }
            }
        }
    }
}
