// Styling for the download section
section.download {
    position: relative;
    padding: 150px 0;
    h2 {
        font-size: 40px;
        margin-top: 0;
    }
    .section-heading-text {
        column-count: 3;
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 40px;
        }
    }
}
