// Styling for the features section
section.features {
    .section-heading {
        background-color: #e9ebeb;
        margin-bottom: 100px;
        h2 {
            margin-top: 0;
            font-weight: 400;
        }
        p {
            margin-bottom: 0;
            color: #4e4e4e;
        }
    }
}
