// Styling for the footer
footer {
    padding: 5px 0;
    text-align: center;
    color: fade-out(white, .7);
    background-color: black;

    p {
        font-size: 20px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;

        li {
            margin-right: 50px;
            padding: 10px 20px;
            a {
                font-size: 17px;
                color: white;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
                i {
                    font-size: 100px;
                }
            }
        }
    }

    .container {
        display: flex;
    }

    @media (min-width: 992px) {
        .container {
            li {
                padding: 10px 20px;
            }
            display: flex;
            i {
                font-size: 100px;
            }
        }
    }
}
